<%= form_for @survey do |f| %>
  <%= f.error_messages %>
  <div style="padding:20px;">
    <p>
      <%= f.label :title_of_the_survey %><br />
      <%= f.text_field :name ,:placeholder => 'Title for the survey'%>
    </p>
    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', :f => builder %>
      <br/>
      <br/>
    <% end %>

    <p><%= link_to_add_fields "Add Question", f, :questions %></p>
    <br/>
    <p>
      <%= f.submit "Create Survey",:class => 'icon-ok btn btn-success' %>
      <input type="button" value="Cancel" class='icon-ok btn btn-danger' onclick="javascript:location.href='/surveys'"/>
    </p>
  </div>
<% end %>
